* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0 20%;
}

a {
    text-decoration: none;
}

header {
    background-color: #7882A4;
    height: 50px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    ;
}

header h1 {
    color: black;
    padding-top: 5px;
}

ul {
    list-style: none;
}

nav ul {
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
}

ul li {
    display: inline;
    margin: 0 50px;
    color: #5d6063
}

h1 {
    padding-top: 5px;
    font-family: 'Ropa Sans', sans-serif;
    color: #5d6063;
}

#primeiro-texto {
    font-family: 'Nuosu SIL', serif;
    color: #5d6063;
    font-size: 16px;
    text-align: justify;
    margin-right: 35%;
    margin-left: 10px;
}

.stomatopoda {
    height: 30%;
    float: right;
    margin-right: 30px;
    margin-top: 95px;

}

.mantis {
    height: 30%;
    float: right;
    margin-top: 20px;
    margin-right: 50px;

}

table,
td,
th,
caption {
    border: 1px solid #5d6063;
    color: #5d6063;
    font-family: 'Nuosu SIL', serif;
}

caption {
    font-weight: bolder;
}

th,
td,
caption {
    padding: 6px;
}

footer {
    background-color: #CCD1E4;
}

footer p {
    text-align: center;
    padding: 7px 0;
}

.texto {
    font-family: 'Nuosu SIL', serif;
    color: #5d6063;
    font-size: 16px;
    text-align: justify;
    margin-right: 35%;
    margin-left: 10px;
}

h3,
h2 {
    color: #5d6063;
    font-family: 'Ropa Sans', sans-serif;
    margin-left: 10px;
}

.referencias li {
    display: block;
}

.aside {
    position: absolute;
    border: 1px solid #5d6063;
    right: 330px;
    top: 500px;
    background-color: #F7F6F3;
}

aside p {
    padding: 0 10px;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

h5 {
    font-family: 'Ropa Sans', sans-serif;
    color: #5d6063;
}

hr {
    border: 3px solid #f49923;
}

a:hover {
    color: #f49923
}